@import "tailwindcss";
/*@tailwind base;
@tailwind components;
@tailwind utilities;*/
@custom-variant dark (&:where(.dark, .dark *));

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

/* Hide scrollbar for all elements */
* {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

*::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}